body {
	min-height: 100vh;
	margin: 0;
	padding-bottom: 0px;  
	background: radial-gradient(circle,
	  #ffe6e6 0,
	  #ffcccc 50%,
	  #cc6666 90%,
	  #993333 100%
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: #990000;
	font-size: 60px;
	margin-bottom: 0px;
	font-weight: bold;
}

h2 {
	text-align: center;
	color: #000000;
	font-size: 30px;
	margin-top: 0px;
}

h3 {
	text-align: center;
	color: #000000;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.tiles-container {
	display: flex;  /* side by side tiles */
	justify-content: center;
	gap: 20px;      /* space between tiles */
	margin: 50px 0; /* space above and below tile section */
	flex-wrap: wrap;   /* <-- allows wrapping into multiple rows */
}

.tile {
	background-color: #990000;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 40px 20px;
	cursor: pointer;
	transition: transform 0.5s;
	color: #ffffff;
	border-radius: 10px;
	 width: 45%;        /* <-- two tiles per row */
    box-sizing: border-box;
}

.tile:hover {
	transform: scale(1.1);
	background-color: #ffeeee;
	color: #000000;
}

.tile-content {
	display: none;
	margin-top: 10px;
	font-size: 15px;
}

footer {
  position: relative;
  width: 100%;
  background-color: #990000;
  padding: 15px 10px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.2;     /* tighter line spacing between footer lines */
  word-wrap: break-word;   /* prevents text from being smashed */
  margin-bottom: 0;    /* ensure no extra spacing */
}
