body {
	margin: 0;
	height: 100vh;
	padding-bottom: 120px;  
	background: radial-gradient(circle,
	  #ffe6e6 0,
	  #ffcccc 50%,
	  #cc6666 90%,
	  #993333 100%
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: #990000;
	font-size: 60px;
	margin-bottom: 0px;
	font-weight: bold;
}

h2 {
	text-align: center;
	color: #000000;
	font-size: 30px;
	margin-top: 0px;
}

h3 {
	text-align: center;
	color: #000000;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.tiles-container {
	display: flex;  /* side by side tiles */
	justify-content: center;
	gap: 20px;      /* space between tiles */
	margin: 50px 0; /* space above and below tile section */
}

.tile {
	background-color: #990000;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 40px 20px;
	cursor: pointer;
	transition: transform 0.5s;
	color: #ffffff;
	border-radius: 10px;
}

.tile:hover {
	transform: scale(1.1);
	background-color: #ffeeee;
	color: #000000;
}

.tile-content {
	display: none;
	margin-top: 10px;
	font-size: 15px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #990000;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;     /* tighter line spacing between footer lines */
}
